{{!-- <div class='row display-flex justify-center text-center'>

    <div class='col-md-6'>
        <h1>FIND A GAME {{game.title}}</h1>
        <form class='form search-game'>
            <div class='form-group'>
                <label for='game-search'>&#127918 Enter Title Here &#127918 </label>
                <input class='form-input' type='text' id='game-search'>
            </div>
            <div class='form-group post-container'>
                <button type='submit' class='btn btn primary'>Search Game</button>
            </div>
        </form>

        <form class='form post-game'>


            <div class='form-group'>
                <button type='submit' id='submit-game' class='btn btn primary'>Post Game</button>
            </div>
        </form>

    </div>


    <div class='col-md-6 user-posts'>
        <h3 class='mb-5'>{{username}}'s Posts:</h3>
        {{#if games.length}}
        {{#each games as |game|}}
        <div class='row mb-2 justify-space-between'>
            <div class='col md-9'>
                <h2><a href='/post/{{game.id}}'>{{game.name}}</a></h2>
            </div>
            <div class='col md-3'>
                <button class="btn btn-sm btn-danger delete-post" data-id='{{post.id}}'>DELETE</button>
                <a class="btn btn-sm btn-secondary edit-post" href='/edit-post/{{post.id}}'>EDIT</a>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<script src='/js/game.js'></script> --}}
<div class='row display-flex justify-center text-center'>

    <div class='col-md-6'>
        <h1>FIND A GAME {{game.title}}</h1>
        <form class='form search-game'>
            <div class='form-group'>
                <label for='game-search'>&#127918 Enter Title Here &#127918 </label>
                <input class='form-input' type='text' id='game-search'>
            </div>
            <div class='form-group post-container'>
                <button type='submit' class='btn btn primary'>Search Game</button>
            </div>
        </form>

        <form class='form post-game'>


            <div class='form-group'>
                <button type='submit' id='submit-game' class='btn btn primary'>Post Game</button>
            </div>
        </form>

    </div>


    <div class='col-md-6 user-posts'>
        <h3 class='mb-5'>{{username}}'s Posts:</h3>
        {{#if games.length}}
        {{#each games as |game|}}
        <div class='row mb-2 justify-space-between'>
            <div class='col md-9'>
                <h2><a href='/post/{{game.id}}'>{{game.name}}</a></h2>
            </div>
            <div class='col md-3'>
                <button class="btn btn-sm btn-danger delete-post" data-id='{{post.id}}'>DELETE</button>
                <a class="btn btn-sm btn-secondary edit-post" href='/edit-post/{{post.id}}'>EDIT</a>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>

<script src='/js/game.js'></script>