{{!-- TODO:
1. add a search bar at the top,
2. add button for "Login or Sign Up" to top right corner
3. figure out how to dynamically update with most recent posts
--}}
{{!-- <form class='form create-post'>
  <div class='form-group'>
    <label for='game-search'>Search a Game</label>
    <input class='form-input' type='text' id='game-search'></textarea>
  </div>
</form> --}}


{{!-- <div class="home-card">
  <div class="home-card-header">
    <h2>GameJunkee</h2>
  </div>
  <div class="home-card-body">
    <h2>Most Recent Posts</h2>
    <p>
      Post 1
    </p>
    <p>
      Post 2
    </p>
    <p>
      Post 3
    </p>
  </div>
</div> --}}

{{!--
<script src='../public/js/login.js'></script> --}}

<div class='row m justify-space-around'>
  <h1 class='latest-junk'>LATEST JUNK...</h1>
</div>

<div class='row mb-3 justify-space-around each-post'>
  {{#each posts as |post| }}

  <div class="col-md-5 my-5 post-card">
    <div class="row">
      <div class="game-post text-center">
        <a href="/post/{{post.id}}">
          <h2 class='user-posted'>Posted by {{post.user.username}}</h2>
          <img class='game-image my-1' alt="game cover" src={{post.game.img_url}}>
        </a>
        <h4>
          <a href="/post/{{post.id}}">{{game.title}}
        </h4>
        <h6 class='user-post'>
          {{post.post_body}}
        </h6>
        <p class='user-tag'>{{format_date post.date_created}}</p>
      </div>
    </div>
  </div>


  {{/each}}
</div>



<script src='/js/game.js'></script>