
<div class='row m justify-center'>
  <h1 class='welcome-to-page mb-2'>Welcome to GameJunkee!</h1>
  <h2 class='please-check mb-5'>Please Checkout our users' junk!</h2>
  <h3 class='latest-junk mt-5'>LATEST JUNK...</h1>
</div>

<div class='row mb-3 justify-space-around each-post'>
  {{#each posts as |post| }}
  <div class="col-md-5 my-5 post-card">
    <div class="row">
      <div class="game-post text-center">
        <a href="/post/{{post.id}}">
          <h2 class='user-posted'>{{post.user.username}}</h2>
          <img class='game-image my-1' alt="game cover" src={{post.game.img_url}}>
        </a>
        <a href="/post/{{post.id}}">
          <h4 class='homepage-game-title mb-3'>{{game.title}}</h4>
        </a>
        <h6 class='user-post'>
          {{post.post_body}}
        </h6>
        <p class='user-tag'>posted on {{format_date post.date_created}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>




<script src='/js/game.js'></script>



