{{!-- TODO:
        1. add a "Login" button to login form
        2. add a "Sign Up" button to sign up form
            -> when a user signs up, are they directed to a blank Profile page with their username?
        3. figure out the "confirm password" functionality
--}}

<div class='login-page-container'>
  <div class='card-header col-md-10'>
    <h2>Login or Sign Up</h2>
  </div>
  <div class='login-container'>
    <h2>Log in to my Account</h2>
    <form class='login-form'>
      <label for='user_name'>
        Username:
      </label>
      <br />
      <textarea id='user_name' name='user_name' placeholder='Username' rows='2' cols='30'>
        {{user_name}}
      </textarea>
      <br />
      <label for='user_password'>
        Password:
      </label>
      <br />
      <textarea id='user_password' name='user_password' placeholder='Password' rows='2' cols='30'>
        {{user_password}}
      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Login
      </button>
    </form>
  </div>
  <div class='sign_up-container'>
    <h2>Sign Up</h2>
    <form class='sign_up-form'>
      <label for='user_email'>
        Email:
      </label>
      <br />
      <textarea id='user_email' name='user_email' placeholder='Email' rows='2' cols='30'>
        {{user_email}}
      </textarea>
      <br />
      <label for='user_name'>
        Username:
      </label>
      <br />
      <textarea id='user_name' name='user_name' placeholder='Username' rows='2' cols='30'>
        {{user_name}}
      </textarea>
      <br />
      <label for='user_password'>
        Password:
      </label>
      <br />
      <textarea id='user_password' name='user_password' placeholder='Password' rows='2' cols='30'>
        {{user_password}}
      </textarea>
      <br />
      <label for='confirm_password'>
        Confirm Password:
      </label>
      <br />
      <textarea id='confirm_password' name='confirm_password' placeholder='Confirm Password' rows='2' cols='30'>
        {{confirm_password}}
      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Sign Up
      </button>
    </form>
  </div>
</div>

<script src='../public/js/profile.js'></script>
