<div class='post-container flex-column'>
  <div class='dish col-md-5'>
    <p>
      {{user.username}} is playing:
    </p>
    <p>{{game.title}}</p>
    <img class='post-image my-1' alt="game cover" src={{game.img_url}}>
  </div>
  <div class='col-md-7'>
    <p>
      {{post_body}}
    </p>
  </div>
  <div class='add-comment-container'>
    <h2>
      Comments
    </h2>
    <form class='new-comment-form'>
      <label for='user_name'>
        Username:
      </label>
      <br />
      <textarea id='user_name' name='user_name' placeholder='Username' rows='2' cols='30'>
        {{user_name}}
      </textarea>
      <br />
      <label for='comment'>
        Comment:
      </label>
      <br />
      <textarea id='comment' name='comment' placeholder='Write your comments here.' rows='5' cols='30'>
        {{comment}}
      </textarea>
      <br />
      <button type='submit' value='Submit'>
        Comment
      </button>
    </form>
  </div>
</div>

<script src='../public/js/TODO'></script>