{{!-- should displayPost template also include a form for other users to create and append a comment to this page? --}}
{{!-- are users able to edit their own posts? comments? --}}
{{!-- TODO:
1.
--}}

{{!-- <form class='form post-game'>
  <div class='form-group'>
    <label for='game-search'>Search a Game</label>
    <input class='form-input' type='text' id='game-search'></input>
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn primary' id='submit-game'>Submit Post</button>
  </div>
</form> --}}

<div class='post-container flex-column'>
  <div class='card-header col-md-10'>
    <h2>GameJunkee</h2>
  </div>
  <div class='dish col-md-5'>
    <p>
      {{user.username}} is playing:
    </p>
    <p>{{game.title}}</p>
      <img class='post-image my-1' alt="game cover" src={{game.img_url}}>
  </div>
  <div class='col-md-7'>
    <p>
      {{post_body}}
    </p>
  </div>
  <div class='add-comment-container'>
    <h2>
      Comments
    </h2>
    <form class = 'form create-comment'>
      <div class='form-group'>
      <label for='comment-input'>Comment:</label>
      <br/>
      <textarea type = 'text' class = 'form-input' id='comment-input' rows='5' cols='30'></textarea>
      </div> 
      <br />
      <div class = 'form-group'>
      <button type='submit'  id ='submit-button'>Comment</button>
     </div>
    </form>
  </div>
  <div class = 'row display-flex justify-center'>
    {{#if comments.length}}
    {{#each comments as |comment|}}
    <div class = 'col-md-8'>
      <h4>{{comment.user.username}}</h4>
      <div class = 'ind-user-comment'>
        <p>{{comment_body}}</p>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>


</div>
<script src = '../js/comment.js'></script>